body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button, a {
    cursor: pointer;
}

h2 {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

/*=================== header ===================*/

.page-nav-logo {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    text-shadow: 0px 0px 0px;
}

.logo-name {
    color: #2E2F42;
    text-shadow: 0px 4px 4px #00000040;
}

.page-nav-list .nav-list-link {
    font-size: 16px;
    color: #2e2f42;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: left;
}

.page-nav-list .nav-list-link:hover,
.page-nav-list .nav-list-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-links .address-links-item {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.address-links .address-links-item:hover,
.address-links .address-links-item:focus {
    color: #404bbf;
}

/*=============================================*/

/*================= MAIN BODY ===============*/

.first-section {
    background-color: #2E2F42;
}

.hero {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.header-button {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    background-color: #4D5AE5;
}

.header-button:hover,
.header-button:focus {
    background-color: #404BBF;
}

/*==========================================*/

/*==================== Our Team ===============*/

.second-section {
    background-color: #F4F4FD;
}

.team-header {
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.team-list .team-list-items {
    background-color: #FFFFFF;
}

.team-titles {
    letter-spacing: 0.02em;
    text-align: center;
}

.team-text {
    letter-spacing: 0.02em;
    text-align: center;
}

/*=============================================*/

/*==================== Footer =================*/

.page-footer {
    background-color: #2E2F42;
}

.page-footer-logo {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
}

.footer-logo-name {
    color: #F4F4FD
}

.page-footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
